/* margin-top */
.mgt-10 {
  margin-top: 10px;
}
.mgt-13 {
  margin-top: 13px;
}
.mgt-20 {
  margin-top: 20px;
}
.mgt-30 {
  margin-top: 30px !important;
}
/* margin-bottom */
.mgb-15 {
  margin-bottom: 15px !important;
}
.mgb-33 {
  margin-bottom: 33px !important;
}
.mgb-40 {
  margin-bottom: 40px;
}
/* margin-right */
.mgr-10 {
  margin-right: 8px;
}
/*padding*/
.padding0 {
  padding: 0px !important;
}
/* padding-bottom*/
.pdb-20 {
  padding-bottom: 20px;
}
/* padding-left*/
.pdl-40 {
  padding-left: 40px;
}
.pdl-50 {
  padding-left: 50px;
}
.pdl-60 {
  padding-left: 60px;
}
/* padding-top*/
.pdt-10 {
  padding-top: 10px;
}
.pdt-15 {
  padding-top: 15px;
}

/* width */
.w130 {
  width: 130px !important;
}
.w150 {
  width: 150px !important;
}

/* text-align */
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
