/** 최소 **/
@media (min-width: 380px) {
  .mb {
    display: none;
  }
}

/** 최소 320 최대 1024 **/
@media (min-width: 320px) and (max-width: 1024px) {
  .pc {
    display: none !important;
  }

  .mb {
    display: block;
    width: 100% !important;
  }

  .header {
    border-bottom: 1px solid #eee;
    height: auto !important;
  }

  .inner {
    width: auto;
    height: auto;
    margin: 0;
  }

  /** header **/

  .header-logo {
    width: 61px;
    height: 55px;
    padding: 10px 0px 0px 20px;
  }

  .header-logo a {
    width: 61px;
    height: 55px;
    background-size: 46px 42px;
  }

  .header-content {
    width: 76.9%;
  }

  .detail-search>.btn_sch {
    background-image: url("../img/btn_sch_m.png");
    background-size: 19px 18px;
    background-position: 16px 22px;
    width: 50px;
    height: 56px;
  }

  .detail-search>.mobile-menu {
    background-image: url("../img/btn_allmenu_m.png");
    background-size: 19px 18px;
    background-position: 16px 22px;
    width: 50px;
    height: 56px;
  }

  /** 검색 바 **/

  .search-box {
    height: auto;
    width: 100%;
    top: 0px;
    border: none;
    box-sizing: border-box;
    padding: 15px 7px;
    /*height: 55px; */
    padding: 7px 15px;
  }

  .search-box>.inner.mb {
    padding-top: 0px;
  }

  .detail-search>.btn_sch {
    z-index: 99;
  }

  .search-box>.inner>div {
    width: auto;
  }

  .search-box>.inner.mb {
    border: 2px solid #346d94;
    border-radius: 26px;
    background: #346d94;
  }

  .search-box>.inner>div>input {
    height: 50px;
  }

  .scClose {
    background: url("../img/btn_schon_m.png");
    background-repeat: no-repeat;
    text-indent: -62px;
    overflow: hidden;
    border: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  /** 전체메뉴 **/
  input#sidebar:checked~.sidebar_in {
    right: -30px;
  }

  .mobilesidebar-header {
    border-bottom: 1px solid #fff;
    height: 60px;
    background: #346d94;
    font-size: 22px;
    color: #ffffff;
    line-height: 62px;
    text-align: center;
  }

  .sidebar_in label[for*="sidebar"] {
    width: 20px;
    height: 20px;
    z-index: 0;
    position: absolute;
    right: 40px;
    background-size: 20px 20px;
    top: 23px;
    cursor: pointer;
  }

  .sidebar_content_out {
    background-image: url("../img/btn_allmclose_m.png");
  }

  .mobilesidebar-content1 {
    padding: 7px 15px;
    background: #346d94;
    color: #a4daff;
    border-bottom: 1px solid #fff;
  }

  .mobilesidebar-content1>ul>li>a {
    color: #a4daff;
    font-size: 12px;
    vertical-align: top;
  }

  .mobilesidebar-content1>ul>li {
    display: inline-block;
    width: 31%;
    font-size: 12px;
    text-align: center;
  }

  .lang span::after {
    background: url("../img/bg_lang_m.png");
    background-size: 12px 8px;
    margin-left: 16px;
  }

  .mobilesidebar-content1>ul>li:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #2f5c7b;
    margin-left: 10px;
    vertical-align: -3px;
    z-index: 99;
  }

  .lang>span {
    vertical-align: 1px;
  }

  .lang.on>.lang-list {
    right: 5px;
  }

  .lang.on>.lang-list>li {
    text-align: left;
  }

  .lang-list>li:first-child a::after {
    margin-left: 15px;
  }

  .lang-list>li a {
    color: #666666;
  }

  .left-menu {
    width: 220px;
  }

  .left-menu>p {
    display: block;
    height: 57px;
    border-bottom: 2px solid #333333;
    font-size: 26px;
    font-weight: bold;
    color: #111111;
    line-height: 1;
  }

  input[id*="answer"] {
    display: none;
  }

  input[id*="answer"]+label.arrow-right {
    position: relative;
    display: block;
    padding: 0px;
    color: #fff;
    background: #fff;
    cursor: pointer;
    color: #333333;
  }

  .left-menu-button {
    border-bottom: 1px solid #dddddd;
  }

  .left-menu-button.on {
    border-bottom: none;
  }

  .left-menu-button.arrow-right.on {
    border-bottom: 1px solid #dddddd;
  }

  .left-menu-button.on+div>ul {
    border-bottom: 1px solid #dddddd;
  }

  .left-menu-button.on em {
    position: absolute;
    top: 70%;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url("../img/bg_lnb.png") no-repeat 100% -23px;
  }

  .icon.left-menu-button a::after {
    margin-left: 10px;
    margin-bottom: 6px;
  }


  input[id*="answer"]+label:hover a:not(.page-now) {
    color: #346d94;
  }

  input[id*="answer"]+label em {
    position: absolute;
    top: 105px;
    right: 25px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 100% -2px;
  }

  input[id*="answer"]+label.arrow-right em {
    background: url(../img/bg_lnb.png) no-repeat 100% -36px;
  }

  input[id*="answer"]+label.arrow-right:hover em {
    background: url(../img/bg_lnb.png) no-repeat 100% -48px !important;
  }

  input[id*="answer"]+label.arrow-right a {
    display: block;
    width: 84%;
    padding: 10px 25px 10px 10px;
  }

  input[id*="answer"]+label.left-menu-button:hover em {
    position: absolute;
    top: 70%;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 100% -14px;
  }

  input[id*="answer"]+label.left-menu-button.on:hover em {
    position: absolute;
    top: 70%;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url("../img/bg_lnb.png") no-repeat 100% -23px;
  }

  input[id*="answer"]+label.page-now em {
    position: absolute;
    top: 70%;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 100% -23px;
  }

  input[id*="answer"]+label+div {
    max-height: 0;
    overflow: hidden;
    font-size: 11px;
  }

  input[id*="answer"]+label+div p {
    display: inline-block;
    padding: 20px;
  }

  input[id*="answer"]:checked+label+div {
    max-height: 330px;
  }

  .accordion ul li:hover {
    background: #346d94;
  }

  .accordion ul li:hover a {
    color: #ffff !important;
  }

  .accordion div ul li {
    margin: 4px 0px;
  }

  .drop-on {
    background: #346d94;
    color: #ffffff;
  }

  .drop-on a {
    color: #fff !important;
  }


  input[id*="answer"]:checked+label+div ul li.icon:hover a::after {
    background: url("../img/blt_newwin2.png") no-repeat right;
    width: 11px;
    height: 11px;
    margin-left: 15px;
    margin-bottom: 6px;
    vertical-align: middle;
    display: inline-block;
    content: "";
  }

  .left-menu_box {
    width: 220px;
    padding: 0 20px;
    border: 1px solid #c9cfd5;
    background: #eff3f5;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .left-menu_box .call {
    padding: 24px 0 15px 30px;
    background: url(../img/bg_lnbbnr1.png) no-repeat 1px 25px;
  }

  .left-menu_box .call p:first-child {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
  }

  .left-menu_box .call p:nth-child(2) {
    font-size: 18px;
    line-height: 1;
    color: #666666;
  }

  .left-menu_box .call p:nth-child(2) span {
    font-size: 30px;
    color: #286289;
    font-weight: bold;
    margin-top: 10px;
  }

  .left-menu_box .info {
    padding: 20px 0 22px 0;
    border-top: 1px solid #c0c0c0;
    font-weight: bold;
  }

  .left-menu_box .info ul li {
    position: relative;
  }

  .left-menu_box .info ul li a {
    display: block;
  }

  .left-menu_box .info ul li:nth-child(2) {
    margin-top: 12px;
  }

  .mobilesidebar-content2 {
    background: #ebebeb;
    height: calc(100% - 60px);
    position: relative;
  }

  .mobilesidebar-content2>ul>li.active>a {
    background: #ffffff;
    color: #004975;
    font-weight: bold;
  }

  .mobilesidebar-content2>ul>li>a {
    display: table-cell;
    width: 90px;
    height: 55px;
    padding: 8px 16px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    color: #666666;
    text-align: center;
    vertical-align: middle;
  }

  .mobilesidebar-content2>ul>li>a {
    cursor: pointer;
  }

  .mobilesidebar-content2>ul>li.active>.accordion {
    display: block;
    padding: 0px 20px;
  }

  .accordion {
    display: none;
    position: absolute;
    top: 0;
    left: 122px;
    bottom: 0;
    background: #ffffff;
    width: 183px;
  }

  .accordion-title {
    display: block;
    height: 73px;
    border-bottom: 1px solid #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 67px;
    color: #333333;
  }

  .mobile-sidebar-scroll>label>a,
  .dep-title {
    position: relative;
    padding: 12px 30px 10px 10px;
    font-weight: bold;
    display: block;
    vertical-align: top;
    font-size: 15px;
    line-height: 18px;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
  }

  .dep-mb>ul>li>a,
  .dep-title {
    padding: 7px 30px 7px 10px;
    color: #666666;
    display: block;
    vertical-align: top;
    font-size: 13px;
    line-height: 18px;
    position: relative;
  }

  .mobile-sidebar-scroll {
    overflow: hidden;
    overflow-y: auto;
    height: 478px;
  }

  .dep-title::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 100% -2px;
  }

  .dep-title2::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 0px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 7px -36px;
  }

  .plusicon::before,
  .plusicon2::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 80px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url("../img/blt_newwin.png") no-repeat 100% 0px;
  }

  .plusicon2::before {
    top: 26px;
    right: 22px;
  }

  label.active>.dep-title::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 10px;
    width: 30px;
    height: 12px;
    margin-top: -15px;
    display: inline-block;
    background: url(../img/bg_lnb.png) no-repeat 100% -2px;
    background-position: 16px;
  }


  label+.dep-mb {
    display: none;
  }

  label.active+.dep-mb {
    display: block;
  }












}

/**
@media (min-width: 414px) {
  .header-content {
    width: 79%;
  }
}
**/