.wrapper {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 554px;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 360px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.rolling-banner .swiper-slide a {
  overflow: hidden;
  display: block;
  position: relative;
  max-width: 1110px;
  margin: 2px auto;
}

.swiper-slide > img {
  display: block;
  width: 1580px;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -900px;
}

/**/

.swiper-slide {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.swiper-slide-active {
  opacity: 1;
}

.changing {
  transition: opacity 0.3s;
  pointer-events: none;
}

.changed {
  transition: none;
}

/* pagination */
.mySwiper .swiper-pagination {
  position: relative;
  bottom: -30px;
  text-align: left;
}

/* nav btn*/
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  top: 50%;
}

.mySwiper .swiper-button-prev {
  transform: translateX(-200%);
}

.mySwiper .swiper-button-next {
  transform: translateX(200%);
}

.custom-fraction {
  text-align: right;
  margin: 15px 5px 0 0;
}

/*rolling-banner*/

.rolling-banner_img {
  overflow: hidden;
  width: 920px;
  min-height: 50px;
  display: inline-block;
}

.rolling-banner_img .swiper-container .swiper-wrapper a {
  display: block;
  width: 226px;
}

.rolling-banner_button {
  display: inline-block;
  vertical-align: top;
  margin: 11px 0px 11px 56px;
}
.banner-auto,
.swiper-prev,
.swiper-next,
.swiper-detail {
  display: inline-block;
  vertical-align: top;
}
.banner-auto > .banner-auto-start {
  background-image: url("../img/btn_relationPlay.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  text-indent: -999px;
  border: 1px #cccccc solid;
  overflow: hidden;
  cursor: pointer;
  background-color: none;
}
.banner-auto > .banner-auto-stop {
  background-image: url("../img/btn_relationStop.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  text-indent: -999px;
  border: 1px #cccccc solid;
  overflow: hidden;
  cursor: pointer;
  background-color: none;
}

.banner-left {
  background-image: url("../img/btn_relationPrev.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  text-indent: -999px;
  border: 1px #cccccc solid;
  overflow: hidden;
  cursor: pointer;
}

.banner-right {
  background-image: url("../img/btn_relationNext.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  text-indent: -999px;
  border: 1px #cccccc solid;
  overflow: hidden;
  cursor: pointer;
  margin-left: 1px;
}

.banner-detail {
  background-image: url("../img/btn_relationMore.png");
  background-position: 13px 12px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  text-indent: -999px;
  border: 1px #cccccc solid;
  overflow: hidden;
  cursor: pointer;
  margin-left: 1px;
}

.rolling-banner .swiper-slide {
  opacity: 1;
  transition: none;
  width: auto !important;
}

.content > .inner > .wrapper > .swiper > .swiper-wrapper > .swiper-slide > a {
  overflow: hidden;
  display: block;
  position: relative;
  max-width: 1110px;
  height: 554px;
  margin: 2px auto;
}

.content
  > .inner
  > .wrapper
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > a
  > img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

.slide-button {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  right: 90px;
}

.slide-button {
  position: relative;
  top: -537px;
}

.btn-wrapper {
  position: absolute;
  right: 50px;
  top: -1px;
  z-index: 99;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background: url(../img/bg_transparent.png) no-repeat;
  background-size: 100%;
  border: 2px solid #111111;
  border-radius: 10px;
  vertical-align: top;
  opacity: 1;
  text-indent: -999px;
}

.swiper-pagination-bullet-active {
  background-color: #111111 !important;
}

.btn-wrapper > .auto-start,
.btn-wrapper > .auto-stop {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.btn-wrapper > button {
  padding: 0px;
}
